<md-sidenav #navmain align="start" opened="false" class="sidenav-container">
    <md-nav-list fxFlex="100 1000px">
        <a md-list-item (click)="navmain.toggle()" [routerLink]="['/home']">
            <i class="material-icons md-24" >local_library</i>
            <strong> Biblioteca</strong>
        </a>
        <a md-list-item *ngIf="isAdmin" (click)="navmain.toggle()" [routerLink]="['./permission', authPrms] ">
            <md-icon class="md-24">settings_input_component</md-icon>
            <span>Permisos</span>
        </a>
        <a md-list-item *ngIf="isAdmin" (click)="navmain.toggle()" [routerLink]="['./users']">
            <md-icon class="md-24">supervisor_account</md-icon>
            <span> Usuarios</span>
        </a>
        <a md-list-item (click)="navmain.toggle()" [routerLink]="['./library']">
            <md-icon class="md-24">library_books</md-icon>
            <span> Biblioteca</span>
        </a>
        <!-- <a md-list-item (click)="navmain.toogle()" [routerLink]="">  -->
    </md-nav-list>
    <!-- block ngModel -->
     <input type="hidden" [(ngModel)]="authPrms">
</md-sidenav>
<!-- <md-sidenav mode="push" align="end" opened>
    End sidenav content
</md-sidenav> -->