<md-sidenav #navmain align="start" opened="false" class="sidenav-container">
    <md-nav-list>
        <a md-list-item (click)="navmain.toggle()">
            <i class="material-icons md-24" >local_library</i>
            <strong>Biblioteca</strong>
        </a>
        <a md-list-item *ngIf="isAdmin" (click)="navmain.toggle()" [routerLink]="[{outlets: { data: ['permission', authPrms ] }}] ">Permisos</a>
        <a md-list-item (click)="navmain.toggle()" [routerLink]="[{outlets: { data: 'users' }}]">Usuarios</a>
        <a md-list-item (click)="navmain.toggle()" href="page3.html">Page 3 {{isAdmin}}</a>
    </md-nav-list>
    <!-- block ngModel -->
     <input type="hidden" [(ngModel)]="authPrms">
</md-sidenav>
<!-- <md-sidenav mode="push" align="end" opened>
    End sidenav content
</md-sidenav> -->