<app-toolbar (navToggle)="test()"></app-toolbar>
<md-sidenav-container>
    <app-menu [showToggle]="toogle"></app-menu>
    <!-- <app-root></app-root> -->
    <!-- <button md-button (click)="navmain.toggle()">
        <i class="material-icons md-24">menu</i>
    </button> -->

</md-sidenav-container>

<!-- <md-sidenav-container>
  <md-sidenav mode="side" opened="true">Drawer content</md-sidenav>
  <div class="my-content">Main content</div>
</md-sidenav-container> -->
<!-- <router-outlet></router-outlet> -->
