<article fxLayout="column"
    fxLayoutAlign="start stretch">
    <section fxFlex="100" fxLayout="column" fxLayoutAlign="space-around none">
        <md-card>
            <md-card-header>
                <md-card-title><h4>Establecer Permisos</h4></md-card-title>
                <md-card-subtitle>Subtitle</md-card-subtitle>
            </md-card-header>
            <md-card-content fxLayout="column wrap" fxLayoutGap="15px">
                <div fxFlex>
                    <md-slide-toggle color="primary" [(ngModel)]="persmission.reader">
                        <strong>Leer</strong>
                    </md-slide-toggle>
                </div>
                <div fxFlex>
                    <md-slide-toggle color="accent" [(ngModel)]="persmission.write">
                        <strong>Escribir</strong>
                    </md-slide-toggle>
                </div>
                <div fxFlex>
                    <md-slide-toggle color="warn" [(ngModel)]="persmission.delete">
                        <strong>Eliminar</strong>
                    </md-slide-toggle>
                </div>
            </md-card-content>
        </md-card>
    </section>
</article>