<md-card fxFlex="grow" fxLayout="row wrap">
    <header fxFlex="grow">
        <h3 class="no-margin">
            <md-icon class="md-24">import_export</md-icon>
            Exportar Archivos
        </h3>
        <br><br>
    </header>
    <section fxFlex="grow">
        <md-input-container floatPlaceholder="auto" fxFlex="grow">
            <input mdInput #ftext type="text" placeholder="&nbsp;&nbsp;&nbsp;Archivo" readonly
                value="{{ file.files.length ? file.files[0].name : '' }}">
            <span mdPrefix>
                <button md-fab (click)="file.click()">
                    <md-icon class="md-48">attach_file</md-icon>
                </button>
            </span>
            <span mdSuffix>
                <button md-raised-button (click)="uploadToServer()">
                    <md-icon class="md-24">file_upload</md-icon>
                    Subir
                </button>
            </span>
            <input fxHide="true" type="file" #file id="file" (change)="ftext.click()" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.json">
        </md-input-container>
    </section>
    <md-progress-bar
        fxFlex="grow"
        color="warn"
        mode="buffer"
        value="{{percentUpload}}"
        bufferValue="0"></md-progress-bar>
    <md-card fxFlex="grow" fxLayout="row" fxLayoutAlign="center center">
        <button md-raised-button (click)="makeFile(1)" class="red white-text" [ngClass]="{ 'lighten-2': process }" [disabled]="process">
            <md-icon>picture_as_pdf</md-icon>
            <span>ARCHIVO PDF</span>
        </button>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <button md-raised-button (click)="makeFile(0)" class="light-blue white-text" [ngClass]="{ 'lighten-2': process }" [disabled]="process">
            <md-icon>blur_linear</md-icon>
            <span>ARCHIVO ZIP</span>
        </button>
    </md-card>
    <md-card fxLayout="column" fxFlex="grow" *ngIf="notfound.length">
        <strong fxFlex="grow">
            Resultado
        </strong>
        <table fxFlex="grow">
            <tbody>
                <tr *ngFor="let x of notfound">
                    <td>{{x.idm}}</td>
                    <td>{{x.name}}</td>
                    <td>{{x.brand}}</td>
                    <td>{{x.pattern}}</td>
                </tr>
            </tbody>
        </table>
    </md-card>
    <div fxFlex="grow">
        <button md-fab class="right" color="warn" (click)="deleteSweep()">
            <md-icon class="">delete_sweep</md-icon>
        </button>
    </div>
</md-card>