<h2>Page not found</h2>

<section>
    <div class="world">
        <div class="land"></div>
        <div class="land"></div>
        <div class="land"></div>
        <div class="land"></div>
        <div class="land"></div>
        <div class="land"></div>
        <div class="land"></div>
        <div class="land"></div>
        <div class="land"></div>
        <div class="land"></div>
    </div>
    <div class="clouds">
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
        <div class="cloud"></div>
    </div>
</section>