<!-- <h2>Page not found</h2> -->
<canvas id="space">
</canvas>
<div class="world">
    <div class="land"></div>
    <div class="land"></div>
    <div class="land"></div>
    <div class="land"></div>
    <div class="land"></div>
    <div class="land"></div>
    <div class="land"></div>
    <div class="land"></div>
    <div class="land"></div>
    <div class="land"></div>
</div>
<div class="clouds">
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
</div>
<div class="bubble down">
    <strong>Error 404</strong>
    <p>No he encontrado lo que estás buscando</p>
</div>
<div class="searching"></div>