canvas
    display: block
    background: #132028
    height: 100vh

.world
    width: 150px
    height: 150px
    border-radius: 150px
    background: #7BAECB
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    overflow: hidden

.land
    position: absolute
    height: 20px
    background: #99cc99
    border-radius: 150px
    :before
        content: ''
        position: absolute
        background: #99cc99
        z-index: 1
        width: 10px
        height: 18px
        border-radius: 20px
        top: -10px
        right: -8px

.clouds
    width: 160px
    height: 160px
    border-radius: 165px
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    overflow: hidden

.cloud
    width: 20px
    height: 10px
    margin-left: 10px
    margin-right: 10px
    border-radius: 20px
    background: #ffffff

.cloud:after, .cloud:before
    content: ''
    position: absolute
    background: #ffffff
    z-index: 1


.cloud:before
    width: 18px
    height: 15px
    top: -3px
    right: 10px
    border-radius: 20px

.cloud:after
    width: 14px
    height: 13px
    top: -7px
    left: 8px
    border-radius: 22px

.searching
    content: url('../../../assets/images/searching.svg')
    height: 200px
    width: 200px
    top: 50%
    let: 10%
    position: absolute
    transform: translate(10%, -50%)